<header class="header">
  <div class="container">
    <div class="header__content">

      <div class="header__logo">
        <img src="js-2.svg" alt="logo">
      </div>

      <div class="header__box">

        <div class="header__menu-btn">
          <load="/src/img/icons/menuBtn/menu-btn.html" />
        </div>
      </div>

      <nav class="nav">
        <div class="nav__box">
          <div class="header__theme-btn">
            <load="/src/img/icons/themeBtn/theme-btn.html" />
          </div>
        </div>

        <ul class="nav__list">
          <li class="nav__item _active">
            <a href="#home" data-link="home">
              Главная
            </a>
          </li>
          <li class="nav__item">
            <a href="#basics" data-link="basics">
              Основы
            </a>
          </li>

          <li class="nav__item">
            <a href="#types" data-link="types">
              Типы
            </a>
          </li>

          <li class="nav__item">
            <a href="#objects" data-link="objects">
              Объекты
            </a>
          </li>

          <li class="nav__item">
            <a href="#functions" data-link="functions">
              Функции
            </a>
          </li>

          <li class="nav__item">
            <a href="#operators" data-link="operators">
              Операторы
            </a>
          </li>

          <li class="nav__item">
            <a href="#func-exp" data-link="func-exp">
              Функциональные выражения
            </a>
          </li>
        </ul>

      </nav>

      <div class="overlay"></div>
    </div>
  </div>
</header>